<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Transactions Service</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/transactions"]'>Transactions</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/upload"]'>Upload file</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/about"]'>About</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/contact"]'>Contact</a>
  </div>
</div>
