<p *ngIf="!transactions"><em>Loading...</em></p>

<div class="row">
  <div class="col">
    <div class="caption">
      <h2>Transaction List</h2>
    </div>
    <table class="table table-striped" *ngIf="transactions">
      <tr><th>Id</th><th>Amount</th><th>Date</th><th>Status</th></tr>
      <tr *ngFor="let item of transactions">
        <td>{{item.id}}</td>
        <td>{{item.amount}} {{item.currencycode}}</td>
        <td>{{item.date}}</td>
        <td>{{item.status}}</td>
      </tr>
    </table>
  </div>
</div>
