@{
    ViewData["Title"] = "Index";
}
<br />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>Upload file:</h3>
        </div>
    </div>
    <div class="row">
        <form enctype="multipart/form-data" method="post" asp-controller="UploadFile" asp-action="Upload">
            <div class="col-md-6">
                <div class="control-fileupload">
                    <label for="file">Choose a file :</label>
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary btn-block" value="Upload" />
            </div>
        </form>
    </div>
</div>

@section Scripts { 
<script>
    $(document).ready(function () {
        $('input[type=file]').change(function () {
            var t = $(this).val();
            var labelText = 'File : ' + t.substr(12, t.length);
            $(this).prev('label').text(labelText);
        })
    });
</script>
}


